_compiled
sftp-config.json
magrathea.conf
logs/*.txt
logs/*.log
logs/
plugins
database/*.sql
medias
backups

docker/.env
vendor
src/vendor
src/vendor/*
.composer.lock

Magrathea/
log*.txt
 
.DS_Store
src/api/features/Apikey/cache/ApikeyCache.php
