.li-file {
	cursor: pointer;
	border-bottom: 1px solid var(--primary);
}

.actions {
	float: right;
	margin-right: 50px;
}

#files-response {
	margin-top: 20px;
	max-height: 400px;
	overflow-y: scroll;
}
